html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

nav {
  background-color: #333;
}

.top-bar {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
}

.top-bar li.home a {
  font-weight: bold;
  font-size: 24px;
}

.top-bar li a {
  display: block;
  padding: 10px;
  color: #fff;
  text-decoration: none;
}

.top-bar li a:hover {
  background-color: #555;
}

.content {
  padding: 20px;
  text-align: center;
  height: calc(100% - 100px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: auto;
}


.bottom-bar {
  background-color: #ccc;
  text-align: center;
  padding: 10px;
  height: 50px;
}

body {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100%;
}