.play-quiz {
    width: 100%;
    max-width: 700px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}

.play-quiz h2, .play-quiz p {
    text-align: center;
    margin-bottom: 1rem;
}

.play-quiz .question {
    margin-bottom: 2rem;
    text-align: center;
}

button {
    padding: 0.5rem 1rem;
    margin: 7px;
    font-size: 1rem;
    color: #fff;
    background-color: blue;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.4s;
    width: 120px;
    height: 50px;
}

button:hover {
    background-color: #0056b3;
}

button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.answer-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 12px;
    padding: 0 1rem;
    margin: 0 auto;
}

.answer-cell {
    padding: 2rem;
    border: 1px solid #ccc;
    border-radius: 3px;
    cursor: pointer;
    user-select: none;
    transition: box-shadow 0.1s;
    text-align: center;
}


.answer-cell input[type='radio'] {
    display: none;
}

.answer-cell:checked {
    border-color: #007bff;
    box-shadow: 0 0 0 3px #007bff;
}

.selected-answer {
    border-color: #007bff;
    box-shadow: 0 0 0 3px #007bff;
}

.answer-0 {
    background-color: #ff3b3b;
}

.answer-1 {
    background-color: #3bff3b;
}

.answer-2 {
    background-color: #3b3bff;
}

.answer-3 {
    background-color: #fffb3b;
}

.correct-answer {
    border-color: #28a745;
    box-shadow: 0 0 0 3px #28a745;
}

.incorrect-answer {
    border-color: #dc3545;
    box-shadow: 0 0 0 3px #dc3545;
}

.quiz-results {
    width: 50%;
    margin: 0 auto;
}

.result-question-container {
    margin-top: 2rem;
}

.result-question-answer-grid {
    font-size: 0.8rem;
}

.user-answer {
    border: 1px solid #007bff;
    box-shadow: 0 0 0 3px #007bff;
}

.result-indicator {
    font-size: 0.8rem;
    margin-bottom: 1rem;
    display: block;
}

.button-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    bottom: 200px;
    width: 40%;
    left: 30%;
}

.question-counter {
    font-size: 1.5em;
    text-align: left;
    width: 100%;
    margin-bottom: 1em;
}



